@using FoodOnDelivery.Web.Models;
@model BasketViewModel

@if (Model == null)
{
    <div class="order-sidebar">
        <h3>Din Order</h3>
        <p>Orderdata saknas.</p>
    </div>
}
else
{
    <div class="order-sidebar">
        <a class="btn btn-primary" asp-controller="Order" asp-action="OrderHistory">
            Gå till Ordrar
        </a>
    </div>
}
